{% extends "index.html" %}
{% block about %}

<div class="about">

    <h1>
        Features
    </h1>
    <p>
        Currently two features are supported: movie recommendation based on your IMDb ratings and similar movie search:
    <ul>
        <li>Movie recommendations are obtained by using your ratings (and corresponding movie embeddings) to train your own user embedding. This user embedding is then used to compute the full movie-user matrix. From this matrix, the (predicted) highest-rated movies are found.</li>
        <li>In similar movie search you enter one or more movie titles. The embeddings of all the entered movies are averaged out and you are shown other movies whose embeddings most closely match the averaged embedding obtained earlier.</li>
    </ul>
    </p>

    <h1>
        Instructions for preparing your ratings
    </h1>
    <p>
        Movies are recommended based on your ratings. To prepare your IMDb ratings do the following:
        <ul>
            <li>Login to your IMDb account</li>
            <li>Go to 'Your Ratings'</li>
            <li>Look for the three vertical dots ⋮</li>
            <li>Click and choose 'Export'</li>
        </ul>
    </p>
    <p>
        Alternatively, you can prepare your own ratings file. For that you need two columns:
        <ul>
            <li>'Const' or 'IMDbId' with IMDb movie ids</li>
            <li>'Your Rating' with a 1-10 rating for each movie</li>
        </ul>
    </p>
</div>

{% endblock %}